body{
    display:flex;
    justify-content: center;
    align-self: center;
}
.container{
    border:1px solid black;
    display:flex;
    flex-direction: column;
    max-width: 960px;
    max-height: 960px;
}
/* grid size */
.small{
    width: 1rem;
    height: 1rem;
    border:1px solid black;
}
.large{

        width: .5rem;
        height: .5rem;
        border:1px solid black;
}
.hori{
    display: flex;
}